@font-face {
    font-family: 'Segoe Print';
    src: url('SegoePrint.eot');
    src: url('SegoePrint.eot?#iefix') format('embedded-opentype'),
        url('SegoePrint.woff2') format('woff2'),
        url('SegoePrint.woff') format('woff'),
        url('SegoePrint.ttf') format('truetype'),
        url('SegoePrint.svg#SegoePrint') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('SegoePrint-Bold.eot');
    src: url('SegoePrint-Bold.eot?#iefix') format('embedded-opentype'),
        url('SegoePrint-Bold.woff2') format('woff2'),
        url('SegoePrint-Bold.woff') format('woff'),
        url('SegoePrint-Bold.ttf') format('truetype'),
        url('SegoePrint-Bold.svg#SegoePrint-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    color: white;
    background-color: black;
    font-family: "Segoe Print" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-size: 3rem !important;
    font-family: "Segoe Print" !important;
}

.hidden {
    display: none;
}

.title-left-skew {
    margin-left: 25%;
}

.title-right-skew {
    margin-right: 25%;
}

.top-margin {
    margin-top: 17.5%
}

.bottom-margin {
    margin-bottom: 17.5%
}

strong {
    font-family: "Segoe Print Bold" !important;
}

/*@keyframes slide-left {
    from {
        margin-left: 25%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
    
@-webkit-keyframes slide-left {
    from {
        margin-left: 25%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
    
@-moz-keyframes slide-left {
    from {
        margin-left: 25%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-o-keyframes slide-left {
    from {
        margin-left: 25%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
    
@-ms-keyframes slide-left {
    from {
        margin-left: 25%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
    
@keyframes slide-right {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 45%;
        width: 100%;
    }
}
    
@-webkit-keyframes slide-right {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 45%;
        width: 100%;
    }
}
    
@-moz-keyframes slide-right {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 45%;
        width: 100%;
    }
}
    
@-o-keyframes slide-right {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 45%;
        width: 100%;
    }
}
    
@-ms-keyframes slide-right {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 45%;
        width: 100%;
    }
}

@keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 45%;
        height: 100%;
    }
}
    
@-webkit-keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 45%;
        height: 100%;
    }
}

@-moz-keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 45%;
        height: 100%;
    }
}
    
@-o-keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 45%;
        height: 100%;
    }
}
    
@-ms-keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 45%;
        height: 100%;
    }
}
    
@keyframes slide-down {
    from {
        margin-bottom: -100%;
        height: 300%;
    }

    to {
        margin-bottom: 55%;
        height: 100%;
    }
}
    
@-webkit-keyframes slide-down {
    from {
        margin-bottom: -100%;
        height: 300%;
    }

    to {
        margin-bottom: 55%;
        height: 100%;
    }
}

@-moz-keyframes slide-down {
    from {
        margin-bottom: -100%;
        height: 300%;
    }

    to {
        margin-bottom: 55%;
        height: 100%;
    }
}

@-o-keyframes slide-down {
    from {
        margin-bottom: -100%;
        height: 300%;
    }

    to {
        margin-bottom: 55%;
        height: 100%;
    }
}

@-ms-keyframes slide-down {
    from {
        margin-bottom: -100%;
        height: 300%;
    }

    to {
        margin-bottom: 55%;
        height: 100%;
    }
}


.slide-right {
    width: 100%;
    overflow: hidden;
}

.slide-right span {
    overflow: hidden;
    animation: slide-right 2.5s;
    -webkit-animation: slide-right 2.5s;
    -moz-animation: slide-right 2.5s;
    -o-animation: slide-right 2.5s;
    -ms-animation: slide-right 2.5s;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.slide-left {
    width: 100%;
    overflow: hidden;
    margin-left: 45%;
}

.slide-left span {
    overflow: hidden;
    animation: slide-left 2.5s;
    -webkit-animation: slide-left 2.5s;
    -moz-animation: slide-left 2.5s;
    -o-animation: slide-left 2.5s;
    -ms-animation: slide-left 2.5s;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}*/