@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 45%;
        width: 100%;
    }
}

@keyframes slide-right {
    from {
        margin-right: -100%;
        width: 300%;
    }

    to {
        margin-right: 55%;
        width: 100%;
    }
}

@keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 45%;
        height: 100%;
    }
}

@keyframes slide-down {
    from {
        margin-bottom: -100%;
        height: 300%;
    }

    to {
        margin-bottom: 55%;
        height: 100%;
    }
}

.slide-right {
    width: 100%;
    overflow: hidden;
}

.slide-right span {
    overflow: hidden;
    animation: slide-right 10s;
}

.slide-left {
    width: 100%;
    overflow: hidden;
}

.slide-left span {
    overflow: hidden;
    animation: slide-left 10s;
}
